h1{
  color: blue;
  font-family: 'Nanum Gothic', sans-serif;
  margin-bottom: 20px;
  font-weight: bold;
}
body{
}
a{
  font-size: 20px;
}
.back{
  font-size: 14px;
}
.footer {
  margin-top: 20px;
  text-align: center;
}
.introduce {
  font-family: 'Gothic A1', sans-serif;
  font-weight: bold;
}
p {
  font-family: 'Gothic A1', sans-serif;
}
